# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
sklintenv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
